.container_cards{
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
}
.row{
    width: 100%;
    height: 100%;
}
.d_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    width: 500px;
    height: 300px;
    margin: 0 1rem 13rem;
}

/* #region media screen */

@media screen and (min-width: 320px) and (max-width: 426px) {}
@media screen and (min-width: 426px) and (max-width: 768px) {}
@media screen and (min-width: 768px) and (max-width: 1024px) {}
@media screen and (min-width: 1024px) and (max-width: 1440px) {}
@media screen and (min-width: 1440px) and (max-width: 1600px) {}
@media screen and (min-width: 1600px) and (max-width: 1920px) {}
@media screen and (min-width: 1920px) and (max-width: 2140px) {}
@media screen and (min-width: 2140px) and (max-width: 3860px) {}
@media screen and (min-width: 3860px) {}

/* #endregion media screen */
