
@use '../../../styles.scss';

.card{
    width: 500px;
    height: 100%;
}

.card_spacing{
    margin: 0.5rem;
}

.count_heart{
    padding: 0 1rem;
}

.change_fill{
    color: red;
}
.flex_end{
    display: flex;
    justify-content: end;
    align-items: center;
}

/* #region media screen */

@media screen and (min-width: 320px) and (max-width: 426px) {}
@media screen and (min-width: 426px) and (max-width: 768px) {}
@media screen and (min-width: 768px) and (max-width: 1024px) {}
@media screen and (min-width: 1024px) and (max-width: 1440px) {}
@media screen and (min-width: 1440px) and (max-width: 1600px) {}
@media screen and (min-width: 1600px) and (max-width: 1920px) {}
@media screen and (min-width: 1920px) and (max-width: 2140px) {}
@media screen and (min-width: 2140px) and (max-width: 3860px) {}
@media screen and (min-width: 3860px) {}

/* #endregion media screen */
