/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";

/* #region palette */


$bg-primary: #182E58;
$bg-secondary: #07598D;
$secondary-color: #b2172e;
$secondary-color-shadow: #b2172e73;
$third: #3d3e40;
$text: #261B1D;
$text-wh: #F2F3F4;
$bg-wh-op: #f2f3f4a9;


/* #endregion palette */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $text;
}


body {
    background: linear-gradient(to left, #182E58, #07598D);
    height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
    body {
        min-width: 320px;
        max-width: 426px;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    body {
        min-width: 426px;
        max-width: 768px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        min-width: 768px;
        max-width: 1024px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    body {
        min-width: 1024px;
        max-width: 1440px;
    }
}
@media screen and (min-width: 1440px) and (max-width: 1600px) {
    body {
        min-width: 1440px;
        max-width: 1600px;
    }
}
@media screen and (min-width: 1600px) and (max-width: 1920px) {
    body {
        min-width: 1600px;
        max-width: 1920px;
    }
}
@media screen and (min-width: 1920px) and (max-width: 2140px) {
    body {
        min-width: 1920px;
        max-width: 2140px;
    }
}
@media screen and (min-width: 2140px) and (max-width: 3860px) {
    body {
        min-width: 2140px;
        max-width: 3860px;
    }
}
@media screen and (min-width: 3860px) {
    body {
        min-width: 3860px;
    }
}