@use '../../styles.scss';

.pages {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    & a {
        padding: 1.5rem 0.5rem 0.5rem;
        color: styles.$text-wh;
        text-decoration: none;
        font-size: 20px;
    }
}
.red {
    color: styles.$secondary-color !important;
    text-decoration: underline;
}

/* #region media screen */

@media screen and (min-width: 320px) and (max-width: 426px) {
    .pages {
        height: 30px;
        & a {
            padding: 0.2rem 0.5rem;
            font-size: 10px;
        }
    }
}
@media screen and (min-width: 426px) and (max-width: 768px) {}
@media screen and (min-width: 768px) and (max-width: 1024px) {}
@media screen and (min-width: 1024px) and (max-width: 1440px) {}
@media screen and (min-width: 1440px) and (max-width: 1600px) {}
@media screen and (min-width: 1600px) and (max-width: 1920px) {}
@media screen and (min-width: 1920px) and (max-width: 2140px) {}
@media screen and (min-width: 2140px) and (max-width: 3860px) {}
@media screen and (min-width: 3860px) {}

/* #endregion media screen */
